.chat-side-bar {
    background: grey;
    height: 500px;
}

.chat-side-bar h1 {
    text-align: left;
    text-shadow: 2px 2px 4px white;
    text-decoration: underline;
    display: inline-block;
}

.chat-side-bar btn  {
    margin-top: 50px;
}

.chat-side-bar h1:hover {
    color: #dd531c;
}

#chat-room-list {
    padding: 5px;
    color: black;
    text-shadow: 2px 2px 4px white;
}

#chat-room-list:hover {
    font-style: italic;
    background-color: aliceblue;
}

.chat-room-container {
    background-color: antiquewhite;
    color: blue;
    height: 500px;
    display: inline-block;
}

#bloc-chat-title {
    padding-right: 100px;
}

.container {
    height 50px;
    width 50px;
}

.footer {
   margin-left: 50%;
}

