<div class="container">

  <div class="col-sm-4 chat-side-bar">
    
    <h1 id="bloc-chat-title">Bloc Chat</h1>  
    
    <button ng-click="home.open()" type="button" class="btn btn-primary">Open New Chat</button>
    
    <ul>
        <li id="chat-room-list" ng-repeat="room in home.rooms"> 
            <a ng-click="home.storeRoomName(room)">{{room.name}}</a>
        </li> <!--click to store current room in a scope object, room.name comes from firebase array the name being property of the room -->
    </ul>
      
    <button>Logout</button>  
    
  </div>
    
  <div class="col-sm-8 chat-room-container">    

      <div>
          <h1 style="color: black">{{home.room.name}}</h1>  <!--show the name clicked in the div-->
        <div ng-repeat="message in home.messages">
            <ul>
              <h3 style= "text-decoration: underline">{{message.username}}</h3>
              <li>{{message.content}} - {{message.sentAt | date: 'dd/MM/yyyy HH:mm:ss'}}</li>
            </ul>
        </div>
      </div> 
      
        <footer id="chatMessage"><input type="text" ng-model="home.newMessage" placeholder="Enter your message . . .">{{message.content}}<button ng-click="home.addMessage(home.newMessage)" type="button" class="button btn-primary" >Send</button>
      </footer>    
    
      
    </div>  
    
    
    
</div>   



    <!-- //curly braces to hold the name of the active room, ng model to bind? -->
