<div class="modal-content">
  <div class="modal-header">
        <h3 class="modal-title">Create Your Own Chat Room!</h3>
    </div>
        <div class="modal-body">
            <form>
                 Name that chat!<input type="text">
             </form>
        </div>
    <div class="modal-footer">
        <a ng-click="home.newRoom" class="btn btn-primary" data-dismiss="modal">Create Room</a>
        <button ng-click="$ctrl.close()" type="button" class="btn btn-primary cancel">Cancel</button>
    </div> 
</div>
    


